<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- Loggar till konsolen i Logstash/JSON-format -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Tidszon för tidsstämplar i loggar -->
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>

    <!-- Detta följer 12-factor och förenklar insamling via container-runtime. -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
